
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Set a background color */
body {
    background-color: #f9f9f9 ;
    font-family: Arial, sans-serif;
}

/* Header section */
.header {
    background-color: #ff9800;
    color: #283618 ;
    padding: 10px;
    text-align: center;
}

/* Logo styling */
.header img {
    width: 300px;
    height: 300px;
}

/* Hero section */
.hero {
    background-image: url('path-to-your-image.jpg');
    background-size: cover;
    background-position: center;
    color: #283618 ;
    padding: 50px 0;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

/* Features section */
.features {
    background-color: #fff;
    padding: 40px;
    text-align: center;
}

.features h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.features p {
    font-size: 1.1rem;
    margin-bottom: 30px;
}

/* Call-to-action buttons */
.cta-buttons {
    text-align: center;
    margin-top: 20px;
}

.cta-buttons a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #ff9800;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.delete-button {
    color: red;
    text-decoration: none;
    margin-left: 10px;
}

.cta-buttons a:hover {
    background-color: #0056b3;
}

/* Footer section */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .hero {
        padding: 80px 0;
    }
}

/* Benefits and Advantages section */
.benefits-container {
    background-color: #fff;
    padding: 20px; /* Add padding around the benefits */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}
/* Add styles for the login section */
.login-section {
    text-align: center;
    background-color: #f5f5f5;
    padding: 50px;
}

.login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-form input {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-form button {
    width: 50%;
    padding: 10px;
    background-color: #ff9800;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #0056b3;
}

/* static/style.css */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 0;
}

nav a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: ff9800;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #555;
}

  .back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff9800;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }

  .back-button:hover {
    	background-color: #0056b3;
  }





    .dashboard-container {
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px;
        margin: 20px auto;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }


    .add-itinerary-form {
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px;
        margin-top: 20px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    .add-itinerary-form h3 {
        margin-top: 0;
    }

    .add-itinerary-form label {
        display: block;
        margin-bottom: 5px;
    }

    .add-itinerary-form input[type="text"],
    .add-itinerary-form textarea {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    .add-itinerary-form button {
        background-color: #ff9800;
        color: #fff;
        border: none;
        padding: 10px 15px;
        border-radius: 3px;
        cursor: pointer;
    }

    .add-itinerary-form button:hover {
        background-color: #0056b3;
    }
	
/* Contact Us Section */

    .contact-section {
        background-color: #f5f5f5;
        padding: 20px;
    }

    .contact-container {
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
    }

    .contact-container h3 {
        margin-top: 0;
    }

    .contact-container p {
        margin-bottom: 10px;
    }

